.list-group {
  width: 15vw;
}

.navbar-brand {
  color: #191970;
  font-family: cursive;
  font-style: italic;
  font: Apple Chancery;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 4px 3px white;
  /* color: #A9A9A9; */
  /* color: #F5FFFA; */
}

.navbar {
  background-image: url("https://image.freepik.com/free-vector/soothing-blue-polygonal-background_7196-473.jpg");
  /* background-repeat: -x; */
  /* background-position: right top; */
  background-size: 100% 200%;
  background-attachment: scroll;
  padding-top: 8vh;
  padding-bottom: 1vh;
  color: #191970;
}

.space {
  margin: 3vh;
}

.message {
  color: gray;
  font-family: cursive;
  font-style: italic;
  font: Apple Chancery;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 60px;
}

#body {
  background-image: url("https://images.clipartlogo.com/files/istock/previews/9088/90881303-blue-cloudy-sky-vector-blurred-background.jpg");
  background-size: 100% 100%;
  background-repeat:
}


.flex-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  /* background-color: #F0F8FF; */
  /* background-color: #E0FFFF; */
  background-color: #d7ecff;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  border: none;
  word-wrap: break-word;
}

.list-group-item {
  background-color: #f0ffff;
  opacity: 80%;
  transition-delay: 0.5ms;
}

.list-group-item > a {
  color: black;
}

.list-group-item:hover {
  opacity: 100%;
  transition-delay: 0.5ms;
}

.input_subject {
  width: 300px;
  height: 40px;
  border-color: #8ecaff;
  border-width: thick;
}

.input_button {
  width: 180px;
  height: 40px;
  border-color: #8ecaff;
  border-width: thick;
  font-size: 20px;
  font-weight: 600;
}


.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
