.list-group {
  width: 15vw;
}

.navbar-brand {
  font-family: cursive;
  font-style: italic;
  font: Apple Chancery;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 3px 2px white;
  color: #F5FFFA;
}

.navbar {
  background-image: url("https://image.freepik.com/free-vector/soothing-blue-polygonal-background_7196-473.jpg");
  /* background-repeat: -x; */
  /* background-position: right top; */
  background-size: 100% 200%;
  background-attachment: scroll;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.space {
  margin: 5vh;
}

#body {
  background-image: url("https://images.clipartlogo.com/files/istock/previews/9088/90881303-blue-cloudy-sky-vector-blurred-background.jpg");
  background-size: 100% 100%;
  background-repeat:
}


.flex-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #f6f6ee;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  border: none;
  word-wrap: break-word;
}

.list-group-item {
  background-color: #f0ffff;
  opacity: 80%;
  transition-delay: 0.5ms;
}

.list-group-item > a {
  color: black;
}

.list-group-item:hover {
  opacity: 100%;
  transition-delay: 0.5ms;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
