.list-group {
  width: 15vw;
}

.navbar-brand {
  font-family: cursive;
  font-style: italic;
  font: Apple Chancery;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 3px 2px white;
  color: #F5FFFA;
}

.navbar {
  background-image: url("https://image.freepik.com/free-vector/soothing-blue-polygonal-background_7196-473.jpg");
  /* background-repeat: -x; */
  /* background-position: right top; */
  background-size: 100% 100%;
  background-attachment: scroll;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
