/* #body {
	flex: 1;
  display: flex;
  justify-content: space-evenly;
	flex-direction: column;
	background-color: #e3eaa7;
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/581/476/large_2x/light-blue-polygon-abstract-background-vector-texture-geometric-with-copy-space.jpg");
	background-size: 1500px 1100px;
}

#space {
	padding: 20px;
}

#spacewithcolor {
	padding: 8px;
	background-color: #4040a1;
} */

.main {
  position: absolute;
  right: 0;
}

.navbar-brand {
  font-family: cursive;
  font-style: italic;
  font: Apple Chancery;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 3px 2px white;
  color: #F5FFFA;
}

.navbar {
  background-image: url("https://image.freepik.com/free-vector/soothing-blue-polygonal-background_7196-473.jpg");
  /* background-repeat: -x; */
  /* background-position: right top; */
  background-size: 100% 200%;
  background-attachment: scroll;
  padding-top: 10vh;
  padding-bottom: 6vh;
}

select {
  width: 8vw !important;
}

.input-field {
  width: 60vw;
}
