#head {
	flex: 1;
  display: flex;
  justify-content: space-evenly;
	flex-direction: column;
	/* background-color: #e3eaa7; */
	background-image: url("https://live.staticflickr.com/5472/9041948559_ae975fe9d8_b.jpg");
	background-size: 1500px 1100px;
}

#space {
	padding: 20px;
}

#spacewithcolor {
	padding: 8px;
	background-color: #4040a1;
}
