.list-group {
  position: fixed;
  top: 80px;
  right: 1vw;
  max-width: 90vh;
  overflow-y: auto;
}

.list-group-item {
  width: 15vw;
  overflow-x: auto;
}

.card {
  height: 45vh;
  margin: 2vh 1vw;
}

.card-title {
  font-size: 1.5vw;
}

.card-body {
  font-size: 1vw;
  overflow-y: auto;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
