<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="css/index.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">EduSound</a>
    <div class="ml-auto">
      <a href="/inputNotes" class="btn btn-large btn-primary">Add Notes</a>
      <br />
      <br />
      <a href="/inputMusic" class="btn btn-large btn-primary">Add Music</a>
    </div>
  </nav>
  <!-- <ul class="list-group my-2">
    {% for sub in subject_list %}
      <li class="list-group-item">
        <a href="/subject?{{sub.name.replace(' ', '%')}}">{{sub.name}}</a>
      </li>
    {% endfor %}
  </ul> -->
  <form method="post">
    <input id="subject" class="input_subject" type="string" name="subject_string">
    <input class="input_subject" type="submit" name="action" value="Add Subject">
  </form>
  <div class="flex-container">
    {% for sub in subject_list %}
      <div class="list-group-item">
        <a href="/subject?{{sub.name.replace(' ', '%')}}">{{sub.name}}</a>
        <a class="close">
      </div>
    {% endfor %}
  </div>
</body>
