<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="css/index.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">EduSound</a>
    <a href="/input" class="btn btn-large btn-primary ml-auto">Add Subject</a>
  </nav>
  <ul class="list-group my-2">
    <li class="list-group-item">
      <a href="/subject?English">English</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?Math">Math</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?Computer%Science">Computer Science</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?History">History</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?Chemistry">Chemistry</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?Biology">Biology</a>
    </li>
    <li class="list-group-item">
      <a href="/subject?Physics">Physics</a>
    </li>
  </ul>
</body>
