<div class="input_notes">
  <div class="create_note">
    <h2>Input Notes</h2>
    <form method="post">
      <input class="input_notes" type="datetime-local" name="starttime">
      <select class="input_notes" name="subject-type">
        <option value="math">Math</option>
        <option value="english">English</option>
        <option value="computer-science">Computer Science</option>
      </select>
      <input class="input_notes" type="submit" name="action" value="Add to Notes">
    </form>
  </div>
