<!-- <!DOCTYPE html>
  <html>
    <head>
      <title>Input Notes</title>
      <link type="text/css" rel="stylesheet" href="/css/InputNotes.css">
    </head>
    <body>
      <div id="top"></div>
        <div class="content-item title">Input Page</div>
      <div id="body">
        <div id="spacewithcolor"></div>
        <div id="morespace"></div>
        <div id="userinputs">
          <center><form method="post">
            <select class="input_notes" name="subject-type">
              <option value="Math">Math</option>
              <option value="English">English</option>
              <option value="Computer%Science">Computer Science</option>
            </select>
            <input class="input_notes" type="text" name="textbox">
            <input class="input_notes" type="submit" name="action" value="Add to Notes">
          </form></center>
        </div>
        <a href="/"><button class="main" id="backbutton">Back to Main Page</button></a>
      </body>
  </html> -->
  <!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="css/InputNotes.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand">Input Notes</a>
      <a href="/" class="btn btn-large btn-primary ml-auto">Back to Main Page</a>
    </nav>
    <!-- <a class="main" href="/"><button id="backbutton">Back to Main Page</button></a> -->
    <div class="input_notes">
      <div class="create_notes_entry">
        <!-- <h2>Input Music</h2> -->
        <label style="padding-left:20px" for="subjects">Choose Subject:</labeL>
        <form style="padding-left:20px" id="subjects" method="post">
          <select class="input_notes" name="subject-type">
            <option value="Math">Math</option>
            <option value="English">English</option>
            <option value="Computer%Science">Computer Science</option>
          </select>
          <div align="center">
          <table><tbody>
          <!-- <tr><td><label for="notes">Notes:</label></td>
            <td>
              <input id="notes" class="input_notes" type="string" name="notes_string">
            </td>
          </tr>
          </tbody></table><br> -->
          <form>
            <textarea name="notes_string" rows="10" cols="80" placeholder="Enter Notes Here"></textarea>
            <br>
            <input class="input_notes btn btn-large btn-primary ml-auto" type="submit" name="action" value="Add to Notes">
          </form>
          </div>
        </form>
      </div>
    </div>
  </body>
