<!DOCTYPE html>
  <html>
    <head>
      <title>Input Notes</title>
      <link type="text/css" rel="stylesheet" href="/css/InputPage.css">
    </head>
    <body>
      <div id="top"></div>
        <div class="content-item title">Input Page</div>
      <div id="body">
        <div id="spacewithcolor"></div>
        <div id="morespace"></div>
        <div id="userinputs">
          <center><form method="post">
            <select class="input_notes" name="subject-type">
              <option value="math">Math</option>
              <option value="english">English</option>
              <option value="computer-science">Computer Science</option>
            </select>
            <input class="input_notes" type="text" name="textbox">
            <input class="input_notes" type="submit" name="action" value="Add to Notes">
          </form></center>
        </div>
        <a href="/"><button class="main" id="backbutton">Back to Main Page</button></a>
      </body>
  </html>
