<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="css/InputMusic.css" rel="stylesheet" />
</head>

<center>
<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">Input Music</a>
    <a href="/" class="btn btn-large btn-primary ml-auto">Back to Main Page</a>
  </nav>
  <!-- <a class="main" href="/"><button id="backbutton">Back to Main Page</button></a> -->
  <div class="input_music">
    <div class="create_music_entry">
      <!-- <h2>Input Music</h2> -->
      <label style="padding-left:10px" for="subjects">Choose Subject:</label>
      <form style="padding-left:10px" id="subjects" method="post">
        <select class="input_music form-control" name="subject-type">
          {% for sub in subject_list %}
          <option value="{{sub.name.replace(' ', '%')}}">{{sub.name}}</option>
          {% endfor %}
        </select>
        <div align="center"><br>
          <table>
            <tbody>
              <tr>
                <td><label for="title">Title of Song:</label></td>
                <td>
                  <input
                    id="title"
                    class="input_music form-control"
                    type="string"
                    name="title_string"
                  />
                </td>
              </tr>
              <tr>
                <td><label for="artist">Artist:</label></td>
                <td>
                  <input
                    id="artist"
                    class="input_music form-control"
                    type="string"
                    name="artist_string"
                  />
                </td>
              </tr>
              <tr>
                <td><label for="link">Link to Music:</label></td>
                <td>
                  <input
                    id="link"
                    class="input_music form-control"
                    type="string"
                    name="link_string"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <input
            class="input_music btn btn-large btn-primary ml-auto"
            type="submit"
            name="action"
            value="Add to Music"
          />
        </div>
      </form>
    </div>
  </div>
</body>
</center>
