<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="css/subjectNotes.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" style="color: white">Subject: {{subject_name}}</a>
  </nav>

  <div class="container-fluid my-2">
    <div class="row left">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Card Title: CHANGE ME
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              perspiciatis quibusdam quod, voluptate hic non aut consequatur.
              Possimus fugit labore maxime nisi odio mollitia magnam minima
              expedita veniam totam. Quas. Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Consequatur fuga ab laboriosam
              asperiores eaque. Consequatur recusandae quaerat assumenda
              nesciunt, doloribus nobis atque tempora accusamus est optio nulla
              necessitatibus nostrum quod? Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Eum voluptas deserunt repellat
              temporibus aliquid. Accusamus, laborum ipsum accusantium sint eos
              debitis! Reprehenderit nemo perferendis dolores laborum eos
              tempore eaque maiores?
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Card Title: CHANGE ME
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              perspiciatis quibusdam quod, voluptate hic non aut consequatur.
              Possimus fugit labore maxime nisi odio mollitia magnam minima
              expedita veniam totam. Quas. Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Consequatur fuga ab laboriosam
              asperiores eaque. Consequatur recusandae quaerat assumenda
              nesciunt, doloribus nobis atque tempora accusamus est optio nulla
              necessitatibus nostrum quod? Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Eum voluptas deserunt repellat
              temporibus aliquid. Accusamus, laborum ipsum accusantium sint eos
              debitis! Reprehenderit nemo perferendis dolores laborum eos
              tempore eaque maiores?
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Card Title: CHANGE ME
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              perspiciatis quibusdam quod, voluptate hic non aut consequatur.
              Possimus fugit labore maxime nisi odio mollitia magnam minima
              expedita veniam totam. Quas. Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Consequatur fuga ab laboriosam
              asperiores eaque. Consequatur recusandae quaerat assumenda
              nesciunt, doloribus nobis atque tempora accusamus est optio nulla
              necessitatibus nostrum quod? Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Eum voluptas deserunt repellat
              temporibus aliquid. Accusamus, laborum ipsum accusantium sint eos
              debitis! Reprehenderit nemo perferendis dolores laborum eos
              tempore eaque maiores?
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Card Title: CHANGE ME
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              perspiciatis quibusdam quod, voluptate hic non aut consequatur.
              Possimus fugit labore maxime nisi odio mollitia magnam minima
              expedita veniam totam. Quas. Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Consequatur fuga ab laboriosam
              asperiores eaque. Consequatur recusandae quaerat assumenda
              nesciunt, doloribus nobis atque tempora accusamus est optio nulla
              necessitatibus nostrum quod? Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Eum voluptas deserunt repellat
              temporibus aliquid. Accusamus, laborum ipsum accusantium sint eos
              debitis! Reprehenderit nemo perferendis dolores laborum eos
              tempore eaque maiores?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group right">
    <li class="list-group-item">
      <h4>Playlist</h4>
    </li>
    {% for song in songs_list %}
    <li class="list-group-item">
      <h5>{{song.title}}</h5>
      <h6>{{song.artist}}</h6>
      <a href="{{song.link}}" id="song-link">Link</a>
    </li>
    {% endfor %}
  </ul>
</body>
