<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="css/subjectNotes.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" style="color: white">Subject: {{subject_name}}</a>
    <a href="/" class="btn btn-large btn-primary ml-auto">Back to Main Page</a>
  </nav>

  <div class="container-fluid my-2">
    {% for note in notes_list %} {% if loop.index0 % 2 == 0 %}
    <div class="row">
      {% endif %}
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              {{note.title}}
            </div>
            <div class="card-text">
              {{note.text}}
            </div>
          </div>
        </div>
      </div>
      {% if loop.last or loop.index0 % 2 == 1 %}
    </div>
    {% endif %} {% endfor %}
  </div>

  <ul class="list-group right">
    <li class="list-group-item">
      <h4>Playlist</h4>
    </li>
    {% for song in songs_list %}
    <li class="list-group-item">
      <h5>{{song.title}}</h5>
      <h6>{{song.artist}}</h6>
      <a href="{{song.link}}" id="song-link">Link</a>
    </li>
    {% endfor %}
  </ul>
</body>
